/*CSS by Esther Dronyi*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- ROOT -----*/

:root{
  /*---- COLORS ----*/
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;

  /*---- SHADOWS -----*/
  --text-shadow-sm: 0px 2px 4px;
  --text-shadow-med: 0px 5px 10px;
  --box-shadow-sm: 0 1px 8px -3px;
}

/*--- GLOBAL STYLES ----*/
body{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Playfair Display";
  font-size: .85rem;
  font-weight: normal;
  line-height: 1.25;
  color: var(--dark-charcoal);
  min-width: 450px;
  width: 100%;
  /*background-color: #2B2B2B;  REMEMBER TO COMMENT THIS OUT LATER
  */
}

header,footer{
  background-color: var(--midnight-blue);
  color: var(--soft-white);
  text-align: center;
}

p, ul{
  padding: 8px 0;
  font-weight: 400;
}

h1, h2,h3{
  padding: 10px 0;
  font-weight: 600;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.25rem;
}

h3{
  font-size: 1.5rem;
  padding: 0;  
}

ul{
  list-style: disc;
  list-style-position: inside;
}

a{
  text-decoration: none;
  font-weight: 600;
}


/*--- HEADER ----*/
header{
  padding-top: 16px;
  margin: 0 auto;

}

header img{
  width: 30vw;
  height: auto;
}

header p{
  font-style: italic;
  font-size: 1.1rem;
  padding-bottom: 24px;
  margin: 0 auto;
}

nav{
  background-color: var(--champagne-gold);

}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

nav a{
  display: block;
  color: var(--midnight-blue);
  font-weight: 800;
  padding: 10px;
  font-size: 1.5rem;
}



/* --- MAIN STYLES ---*/

main{
  background-color: var(--soft-white);
  padding: 4vh 10vw;
}

#about, #offerings, #gallery{
  padding: 16px 0;
  border-bottom: 2px solid var(--champagne-gold);
}


#offerings{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "offering-card, offering-card, offering-card";
}

.offering-card{
  grid-area: "offering-card";
  background-color: var(--olive-green);
  border-radius: 8px;
  padding: 16px;
  color: var(--linen);
  margin: 8px 0;
  }

#offerings p, #offerings ul {
  padding: 0;
}

#gallery{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "gallery-card, gallery-card, gallery-card, gallery-card, gallery-card";

}

.gallery-card{
  border-radius: 8px;
  box-shadow: var(--box-shadow-sm);
  margin: 16px 0;
  width: 100%;
  grid-area: "gallery-card";
  text-align: center;
  text-wrap: wrap;
  font-style: italic;
  place-items: center;
}

#gallery img{
 width: 100%;
 border-radius: 8px 8px 0 0;
}

#gallery p{
  padding: 0 8px;
  
}

#gallery a{
  display: block;
  width: 100%;
  background-color: var(--olive-green);
  border-radius: 4px;
  padding: 8px 0;
  color: var(--linen);
  font-style: normal;
  text-align: center;

}
/* --- FOOTER STYLES ---*/

footer{
  padding: 24px;
}

footer a{
  color: var(--champagne-gold);

}

address{
  padding: 24px 0;
}

/* ---- MEDIUM BREAKPOINT --- */
@media all and (min-width:600px) {

  body{
    line-height: 1.4;
  }
/*MEDIUM OFFERINGS SECTION LAYOUT*/
  #offerings{
    grid-template-areas: 
      "offering-card offering-card" 
      "offering-card ";
    grid-template-columns: auto auto;
    column-gap: 16px;
  }

  #offerings h2, #offerings section:last-of-type{
    grid-column: 1/-1;
  }

/*MEDIUM GALLERY SECTION LAYOUT*/
  #gallery{
    grid-template-columns: auto auto;
    grid-template-areas: 
    "gallery-card gallery-card" 
    "gallery-card, gallery-card" 
    "gallery-card";
    column-gap: 16px;
  }

  #gallery h2, #gallery p, #gallery a {
    grid-column: 1/-1;
  }
}

/* ----- LARGE BREAKPOINT -----*/
@media all and (min-width:900px) {

/*LARGE GALLERY SECTION LAYOUT*/
  #gallery{
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "gallery-card gallery-card gallery-card" 
    "gallery-card gallery-card" ;
  }

}

/* ------- X-LARGE BREAKPOINT ----*/
@media all and (min-width:1200px) {

/* --- probs a laptop by now ----*/
a:hover{
  text-shadow: var(--text-shadow-sm);
  transform: scale(1.1);
}

nav a:hover{
  text-shadow: var(--text-shadow-med);
}

/*X-LARGE GALLERY SECTION LAYOUT*/
  #gallery{
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: 
    "gallery-card gallery-card gallery-card gallery-card gallery-card" ;
  }
}